# PostgreSQL
DATABASE_USER=user_for_chat
DATABASE_PASS=mypassword
DATABASE_HOST=postgres
DATABASE_NAME=mydb
DATABASE_PORT=5432
DATABASE_SSLMODE=disable

# PostgreSQL Admin
POSTGRES_ADMIN_USER=postgres_admin
POSTGRES_ADMIN_PASS=adminpassword

# Redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=myredispass

# App
APP_PORT=8080

# Metrics
GRAFANA_ADMIN_PASSWORD=your-admin-password
